<!DOCTYPE html>
<html>

<head></head>

<body>
  <h1>Books by </h1>
  <p><a href="/">Home</a></p>

  <ul>
    <% searchResults.forEach(item => { %>
    <li>
      <img src=<%= item.image %>>
      <%= item.title %> 
      <strong>By:</strong> 
      <%= item.author %>
      <%= item.description %>
    </li>
    <% }); %>
    
  </ul>

  <!-- <ul>
    <li>Apples</li>
    <li>Pears</li>
    <li>Bananas</li>
  </ul> -->
</body>

</html>