<!DOCTYPE html>
<html>

<head>
  <link href="../styles/reset.css" rel="stylesheet">
  <link href="../styles/base.css" rel="stylesheet">
  <link href="../styles/icons.css" rel="stylesheet">
  <link href="../styles/layout.css" rel="stylesheet">
  <link href="../styles/modules.css" rel="stylesheet">
</head>

<body>
  <h1>Books by </h1>
  <p><a href="/">Home</a></p>

  <ul>
    <% searchResults.forEach(item => { %>
    <li>
      <img src=<%= item.image %>>
     <h3> <%= item.title %> </h3>
      <i><%= item.author %></i>
      <p><%= item.description %></p>
    </li>
    <% }); %>
    
  </ul>
  
</body>

</html>