<!DOCTYPE html>
<html>
  <head>
  <header>

  </header>
</head>
<body>
  <h1>Sorry! There was an error so you're here now.</h1>
  <p> Feel free to click <a href="/">Here</a> to go back to the search page.</p>
</body>
</html>