<!DOCTYPE html>
<html>
  <head>
    <%- include('./layouts/head') %>
</head>
<%- include('../layout/header') %>
<body>
  <h1>Sorry! There was an error so you're here now.</h1>
  <p> Feel free to click <a href="/">Here</a> to go back to the search page.</p>
</body>
</html>