<!DOCTYPE html>
<html>
  <header>

  </header>
  <body>
    <main>
      <ul>
        <% results.forEach(book => { %>
          <li>
          </li>
        })
      </ul>
    </main>
  </body>
</html>