@media only screen and (min-width:481px){
  body {
    width: 480px;
  }

h4 {
  display: block;
  border-radius: 5%;

}

ul{
  display: block;
  border-radius: 3%;
}

img{
  padding-top: 10px;
  text-align: center;
  margin: 0 auto;
  display: block;
  width:200px;
  height:auto;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 8%;

}

li{
  display: block;
  margin: 20px 0px;
  border-radius: 8%;

}

}