<header>
  <div>
    <a href = "/">
    <h1>Best Books</h1></a>
  </div>
  <nav>
    <div><!-- placeholder for icons--></div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="searches/new">Search For New Books!</a></li>
    </ul>
  </nav>
</header>